
//- array declare
- userArray = []
- userArray.push({name : 'Jan Sanchez',   email : 'joejansanchez@gmail.com'})
- userArray.push({name : 'Silena Nayrim', email : 'silena@nayrim.com'})
- userArray.push({name : 'Jamir Kaleb',   email : 'jamir@kaleb.com'})

//- declare the mixin
mixin userRow(name, email)
	li #{name} (#{email})

//- 
ul#users
	for usr in userArray
		+userRow(usr.name, usr.email)

