
- page = {}
- page.title       = 'Titulo de la página'
- page.description = 'Descripción de la página'

doctype html
html(lang="es")
head
	title= page.title
	- if (page.description) {
	meta(name="description", content="#{page.description}")
	- }
body
	p Lorem ipsum