
// comentario de una linea

//- comentario de una linea invisible

// comentario en bloque
  h1 hola mundo

//- comentario en bloque invisible
  h2 titulo
  h3 subtitulo

// if lt IE 8
  script(src='/ie.js')
