
// Comentario de una línea

//- Comentario de una línea invisible

// Comentario en bloque
  h1 Hola mundo

//- Comentario en bloque invisible
  h2 titulo
  h3 subtitulo

// if lt IE 8
  script(src='js/ie.js')
