- var page         = {}
- page.lang        = 'es'
- page.title       = 'titulo de la pagina'
- page.description = 'Descripcion de la pagina'
- page.keywords    = 'keywords, keywords y mas keywords'
- page.img         = 'img/logo.jpg'
- page.favicon     = 'img/favicon.ico'
- page.author      = 'autor de la pagina'
- page.developer   = 'developer'