
//- forma normal
ul
  li.first
    a(href='#') foo
  li
    a(href='#') bar
  li.last
    a(href='#') baz

//- Block Expansion
ul
  li.first: a(href='#') foo
  li: a(href='#') bar
  li.last: a(href='#') baz

