
//- Anidamiento en Jade

ul
	li
		a(href='#') uno
	li
		a(href='#') dos
	li
		a(href='#') tres

//- Anidamiento con Expansión de bloque

ul
	li: a(href='#') uno
	li: a(href='#') dos
	li: a(href='#') tres


