h1#title IDs & Classes with Jade
div.content
	form(action="post/new", name="frmNew", method="post")
		input#txtNombre(type="text", placeholder="Nombre")
		input(id="txtEmail", type="email", placeholder="Email")
		button.btn(type="submit") Enviar
		button(class="send", type="reset") Reset