h1#title IDs & Classes with Jade
div
	input#txtNombre(type="text", placeholder="Nombre")
	input(id="txtEmail", type="text", placeholder="Email")
	button.btn(data-action="submit") Enviar
	button(class="send", data-action="reset") Enviar