ul
  li
  li
  li

img(alt="descripcionImagen", src="rutaImagen", width="100", height="100")

a(class='button', href='google.com') Google

a: img(alt="descripcionImagen", src="rutaImagen", width="100", height="100")



