h1 Nombre de la empresa
h2 Subtitulo
h3 Cabecera

div
	//- Una linea
	p Lorem ipsum
	//- 2 Lineas con pipes(|)
	p
		| Un parrafo de texto en Jade puede ser incluido de
		| varias formas
	//- usando (.)
	p.
		Esta forma es la mas corta
		si tu quieres  
		escribir grandes bloques de texto
		en muchas lineas