
doctype 5
html(lang="es")
	include partials/head.jade
		title Titulo de la página
		include partials/style.jade
body
	include partials/header.jade
	#wrapper
		p Lorem ipsum
	include partials/footer.jade
	include partials/scripts.jade
